<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content border border-dark">
      <div class="modal-header">
        <h4 class="modal-title">{{messageTitle}}</h4>
        <span aria-hidden="true" (click)="onCloseHandled()" class="cursor-pointer lg">&times;</span>
      </div>
      <div class="modal-header" *ngIf="successMessageStatus==true">
        <h4 class="modal-title">{{messageTitle}}</h4>
        <span aria-hidden="true" (click)="onCloseHandled()" class="cursor-pointer lg">&times;</span>
      </div>
      <div class="modal-body" *ngIf="successMessageStatus!=true">
        <div>{{message}}</div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
      </div>
    </div>
  </div>
</div> -->



<!-- 
<div class="alert alert-info" role="alert" *ngIf="successMessageStatus==true && message!=''">
  A simple info alert—check it out!
</div>

<div class="alert alert-danger" role="alert" *ngIf="successMessageStatus!=true && message!=''">
  A simple danger alert—check it out!
</div> -->