<!-- <div class="row my-4">
  <div class="col-md-12">
    <h3>Add Post</h3>
    <hr />
    <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
      <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title" />

        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown button
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>

        <div
          *ngIf="postForm.get('title').touched && !postForm.get('title').valid"
        >
          <div *ngIf="postForm.get('title').errors.required">
            Title is required
          </div>
          <div *ngIf="postForm.get('title').errors.minlength">
            Title should be minimum 6 characters
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div>{{ showDescriptionErrors() }}</div>
      </div>

      <div class="my-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!postForm.valid"
        >
          Add Post
        </button>
      </div>
    </form>
  </div>
</div> -->


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content border border-dark">
      <div class="modal-header">
        <h4 class="modal-title">Add Pizza Order</h4>
       <span
            aria-hidden="true"  (click)="onCloseHandled()" class="cursor-pointer lg">&times;</span>
      </div>
      <div class="modal-body">
        <p>Model body text</p>
<div >All fields are mandatory</div>
        <div class="container">
          <div class="row">
            <div class="col-4">
              Column 1
            </div>
            <div class="col-8">
              Column 2
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onCloseHandled()">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
      </div>
    </div>
  </div>
</div>