.modal-header {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}
.confirmationHeaderStyle{
    background:#fff;
}
.modal{
    top:50px;
    background-color: rgb(218 221 224 / 74%);
}
.cursor-pointer{
    cursor: pointer;
    color:#fff
}

.mandatoryLabelStyle{
    color: red;
    text-align: right;
}

.colorRed{
	color:red;
	font-size: 13px;
}
