<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content border border-dark">
      <div class="modal-header">
        <h4 class="modal-title">Add Pizza Order</h4>
        <span aria-hidden="true" (click)="onCloseHandled()" class="cursor-pointer lg">&times;</span>
      </div>
      <div class="modal-body">
        <div class="mandatoryLabelStyle">All fields are mandatory</div>

        <form class="login" (submit)="addPizzaOrder()" [formGroup]="addForm">
          <div class="container">
            <div class="row p-2">

              <div class="col-sm">
                <div class="alert alert-success text-center" role="alert" [ngStyle]="{ display: successDisplay }"> {{
                  returnMessage }} </div>
                <div class="alert alert-danger text-center" role="alert" [ngStyle]="{ display: errorDisplay }"> {{
                  returnMessage }} </div>
              </div>

            </div>
            <div class="row p-2">
              <div class="col-4 text-end">
                <b>Crust :</b>
              </div>
              <div class="col-8">

                <select class="form-select form-select-sm " tabindex="1" formControlName="Crust">
                  <option *ngFor="let crust of crustList" [ngValue]="crust.value">
                    {{ crust.text }}
                  </option>
                </select>
                <div *ngIf="Crust?.invalid &&(Crust?.dirty || Crust?.touched)" class="colorRed">
                  Crust is mandatory
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-4 text-end">
                <b>Flavor :</b>
              </div>
              <div class="col-8">
                <select class="form-select form-select-sm " tabindex="2" formControlName="Flavor">
                  <option *ngFor="let flavor of flavorList" [ngValue]="flavor.value">
                    {{ flavor.text }}
                  </option>
                </select>
                <div *ngIf="Flavor?.invalid &&(Flavor?.dirty || Flavor?.touched)" class="colorRed">
                  Flavor is mandatory
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-4 text-end">
                <b>Size :</b>
              </div>
              <div class="col-8">
                <select class="form-select form-select-sm " tabindex="3" formControlName="Size">
                  <option *ngFor="let size of sizeList" [ngValue]="size.value">
                    {{ size.text }}
                  </option>
                </select>
                <div *ngIf="Size?.invalid &&(Size?.dirty || Size?.touched)" class="colorRed">
                  Size is mandatory
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-4 text-end">
                <b>Table No. :</b>
              </div>

              <div class="col-8">
                <input type="text" class="form-control" tabindex="4" maxlength="1" (keypress)="isNumber($event)"
                  formControlName="Table_No" />
                <div *ngIf="TableNumber?.invalid &&(TableNumber?.dirty || TableNumber?.touched)" class="colorRed">
                  Table Number is mandatory
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!addForm.valid" tabindex="5"
          (click)="addPizzaOrder()">Submit</button>
        <button type="button" class="btn btn-secondary" tabindex="8" (click)="onCloseHandled()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':confirmationShowStatus}">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content border border-dark">
      <div class="modal-header confirmationHeaderStyle">
        <h4 class="modal-title">Confirmation</h4>
        <span aria-hidden="true" (click)="onConfirmationCloseHandled()" class="cursor-pointer lg">&times;</span>
      </div>
      <div class="modal-body">
        Are you sure, to make order?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" tabindex="7"
          (click)="onConfirmationCloseHandled()">Cancel</button>
        <button type="button" class="btn btn-primary" id="insertOrderButton" tabindex="6"
          (click)="insertNewPizzaOrder()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<app-home-loading-animation></app-home-loading-animation>