<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content border border-dark">
      <div class="modal-header">
        <h4 class="modal-title">View Pizza Order</h4>
        <span aria-hidden="true" (click)="onCloseViewDetailModal()" class="cursor-pointer lg">&times;</span>
      </div>
      <div class="modal-body">

        <div class="container">
          <div class="row p-2">
            <div class="col-4 text-end">
              <b>Order ID :</b>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="pizzaOrder.OrderId" maxlength="1" disabled />
            </div>
          </div>
          <div class="row p-2">
            <div class="col-4 text-end">
              <b>Crust :</b>
            </div>
            <div class="col-8">

              <select class="form-select form-select-sm " [(ngModel)]="pizzaOrder.Crust" disabled>
                <option *ngFor="let crust of crustList" [ngValue]="crust.value">
                  {{ crust.text }}
                </option>
              </select>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-4 text-end">
              <b>Flavor :</b>
            </div>
            <div class="col-8">
              <select class="form-select form-select-sm " [(ngModel)]="pizzaOrder.Flavor" disabled>
                <option *ngFor="let flavor of flavorList" [ngValue]="flavor.value">
                  {{ flavor.text }}
                </option>
              </select>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-4 text-end">
              <b>Size :</b>
            </div>
            <div class="col-8">
              <select class="form-select form-select-sm " [(ngModel)]="pizzaOrder.Size" disabled>
                <option *ngFor="let size of sizeList" [ngValue]="size.value">
                  {{ size.text }}
                </option>
              </select>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-4 text-end">
              <b>Table No. :</b>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="pizzaOrder.Table_No" maxlength="1" disabled />
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseViewDetailModal()">Close</button>
      </div>
    </div>
  </div>
</div>