.tableWidthStyle{
    width: 80%;
}

.width50{
    width: 50px;
}
.width150{
    width: 150px;
}
.width250{
    width: 250px;
}
.width100{
    width: 100px;
}
.width200{
    width: 200px;
}
.height100{
    height: 100px;
}