.tableWidthStyle{
    width: 82%;
    // background: linear-gradient(90deg, #C7C5F4, #776BCC);
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
}

.width50{
    width: 50px;
}
.width150{
    width: 150px;
}
.width250{
    width: 250px;
}
.width100{
    width: 100px;
}
.width200{
    width: 200px;
}
.height100{
    height: 100px;
}
.backgroundColor{
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 57px;
}